body{
    background-color: #f000f0;
    display: flex;
}

.selection {
    width: 60px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .buttons{
    margin:0 auto;
    display:block;
    text-align:center
  }